$color-titulos: rgb(52, 52, 116);

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SectionPeople {
    // background-color: steelblue;
    width: 1300px;
    // height: 300px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 3rem;
    padding: 2rem 5rem 2rem 2rem;
    margin: 1rem auto;

    &__List {
        display: flex;
        gap: 2rem;
        // background-color: orange;

        .SectionPeople__Article {
            // background-color: green;

            &__Contenedor__Imagen {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: red;
                padding: 1rem;
            }

            &__Imagen {
                width: 100px;
                height: 100px;
                // background-color: aqua;
            }

            &__Subtitulo {
                color: $color-titulos;
                padding: 1rem;
                text-align: center;
            }

            &__Descripcion {
                padding: 1rem;
                text-align: center;
            }
        }
    }

    &__Informacion {
        // background-color: purple;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $color-titulos;

        &__Titulo {
            font-size: 2rem;
        }

        &__Descripcion {
            font-size: 1.2rem;
        }

        &__Cita {
            font-size: 1.1rem;

            span {
                color: red;
            }
        }

        &__Link {
            padding-left: 2rem;
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: none;
        }
    }
}